@model Projekt_DT102G.Models.Book

@{
	ViewData["Title"] = "Details";
}

<h2 class="title">Details</h2>

<div>
	<h4>Book</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Author)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Author)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Price)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Price)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Genres)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Genres.GenreName)
		</dd>

		<dd class="col-sm-10">
			<img class="w-25" src="~/image/@Model.PhotoPath" alt="@Model.Description">
		</dd>

		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Alt)
		</dd>
	</dl>
</div>

<div>
	<a asp-action="Edit" asp-route-id="@Model.BookId">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
