@model IEnumerable<Projekt_DT102G.Models.Book>

@{
	ViewData["Title"] = "Index";
}

<h2 class="title pb-1">Current books in stock [@ViewBag.StockCount] </h2>

<p>
	<a asp-action="Create">Create New</a>
</p>

@*When you have flex you must specify that all child must have width 100%*@
<div class="d-flex d-100chld font-weight-bold mb-2">
	<div class="col-lg d-none d-lg-inline">@Html.DisplayNameFor(model => model.Name)</div>
	<div class="col-lg d-none d-lg-inline">@Html.DisplayNameFor(model => model.Description)</div>
	<div class="col-lg d-none d-lg-inline">@Html.DisplayNameFor(model => model.Author)</div>
	<div class="col-lg d-none d-lg-inline">@Html.DisplayNameFor(model => model.Price)</div>
	<div class="col-lg d-none d-lg-inline">@Html.DisplayNameFor(model => model.Genres.GenreName)</div>
	<div class="col-lg d-none d-lg-inline">Image</div>
	<div class="col-lg d-none d-lg-inline">Action</div>
</div>

@foreach (var item in Model)
{
	@*When you have flex you must specify that all child must have width 100%*@
	<div class="row d-100chld mb-1">
		<div class="col-lg pb-2">
			<div class="d-flex">
				<div class="d-lg-none w-auto pr-1 font-weight-bold">@Html.DisplayNameFor(model => model.Name):</div>
				@Html.DisplayFor(modelItem => item.Name)
			</div>
		</div>

		<div class="col-lg pb-1">
			<div class="d-flex">
				<div class="d-lg-none w-auto pr-1 font-weight-bold">@Html.DisplayNameFor(model => model.Description):</div>
				@Html.DisplayFor(modelItem => item.Description)
			</div>
		</div>

		<div class="col-lg pb-1">
			<div class="d-flex">
				<div class="d-lg-none w-auto pr-1 font-weight-bold">@Html.DisplayNameFor(model => model.Author):</div>
				@Html.DisplayFor(modelItem => item.Author)
			</div>
		</div>

		<div class="col-lg pb-1">
			<div class="d-flex">
				<div class="d-lg-none w-auto pr-1 font-weight-bold">@Html.DisplayNameFor(model => model.Price):</div>
				@Html.DisplayFor(modelItem => item.Price)
			</div>
		</div>

		<div class="col-lg pb-1">
			<div class="d-flex">
				<div class="d-lg-none w-auto pr-1 font-weight-bold">@Html.DisplayNameFor(model => model.Genres.GenreName)</div>
				@Html.DisplayFor(modelItem => item.Genres.GenreName)
			</div>
		</div>

		<div class="col-lg pb-1">
			<div class="d-flex">
				<div class="d-lg-none w-auto pr-1 font-weight-bold">Image</div>
				<img style="max-height:100px; max-width:100px" src="~/image/@item.PhotoPath" alt="">
			</div>
		</div>

		<div class="col-lg pb-1">
			<div class="d-lg-none w-auto pr-1 font-weight-bold">Action</div>
			<a class="p-1" asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
			<a class="p-1" asp-action="Details" asp-route-id="@item.BookId">Details</a> |
			<a class="p-1" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
		</div>
	</div>
}